.div-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    position: relative;
}

h1 {
    width: 100%;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 20px 20px;
}

.slider-button {
    border: none;
    display: inline-block;
    padding: 8px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color:white;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.slider-button:hover {
    color: rgb(176, 255, 169);
}

.display-left {
    left: 0%;
}

.display-right {
    right: 0%;
}

.ape {
    
    border-color: transparent;
    background-color: transparent;
    
}

#monkey {
    padding: 0px;
    border-radius: 100px;
    width: 100px;
}

.dropdown-content {
    display: none;
    position: fixed;
    z-index: 1;
    margin-left: 50%;
    border-radius: 100px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(180, 180, 180);
    padding: 1%;
    margin-top: -25px;
}

.dropdown-content a{
    display: block;
    color: black;
    text-decoration: none;
}

.dropbtn {
    cursor: pointer;
    position: fixed;
    margin-left: 50%;
    z-index: 2;
    margin-top: -70px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.show {display:block;}